@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..900&display=swap');

:root {
  --primary: #028395;
  --secondary: #7c5a81;
  --top-bar: #7c5a8140;
  --menu: #02839540;
  --html-background: #fafafa;
}

* {
  transition: all 85ms ease-in-out, box-shadow 185ms ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.align-justify {
  text-align: justify;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.filler {
  flex-grow: 1;
}

.margin-auto {
  margin: auto;
}

.margin-top-2rem {
  margin-top: 2rem;
}

html {
  min-height: 100dvh;
  font-family: 'Roboto Flex', system-ui, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background-color: var(--html-background);
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: balance;
}

button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 0.4rem;
  font-weight: 350;
  color: var(--secondary);
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  width: fit-content;
}

button:hover {
  box-shadow: 0 0 12px var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: inherit;
}

a img,
p img {
  height: 1.25rem;
  width: auto;
  margin: 0 0.5rem;
}

b {
  font-weight: 350;
}

p:has(img) {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2dvh 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .top-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--top-bar);
}

header .top-bar > * {
  margin: 0.25rem 4dvw 0.25rem 2dvw;
  text-wrap: nowrap;
}

header .top-bar a.rdv-button {
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  height: 2rem;
  border-radius: 0.5rem;
}

header .top-bar a.rdv-button:hover {
  border-radius: 0;
}

header .menu {
  z-index: 8;
  display: flex;
  align-items: center;
  font-weight: 275;
  width: 100%;
  padding: 2dvh 5dvw;
  background-color: var(--menu);
  box-shadow: 0 1dvh 1dvh var(--menu);
}

header .menu ul {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header .menu ul a {
  padding: 0.5rem;
  margin: 1dvw;
  border-radius: 0.5rem;
}

header .menu ul a:hover {
  color: var(--secondary);
  outline: 2px solid var(--secondary);
}

header .main-logo {
  height: 100%;
  width: auto;
}

small {
  font-size: 0.85rem;
}

header small {
  margin: 2rem 5dvw;
}

h1 {
  font-size: 1.75rem;
  font-size: min(1.75rem, 6dvw);
  font-weight: 275;
  color: var(--primary);
  margin: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid;
}

h2 {
  font-size: 1.5rem;
  font-size: min(1.5rem, 5dvw);
  font-weight: 275;
  color: var(--secondary);
  padding: 0.25rem 0 1rem;
}

main,
main > section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  text-align: left;
  text-wrap: auto;
}

main a {
  color: var(--primary);
}

main section.card {
  padding: 1rem;
  background-color: var(--top-bar);
  box-shadow: 0 0 2dvh var(--top-bar);
  border-radius: 0.85rem;
}

main section.card.card-large-padding {
  padding: 4dvh 8dvw;
}

main article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
}

main article.centered {
  justify-content: center;
  text-align: center;
}

article div,
article img:not(.icon) {
  margin: 2.5rem;
}

article img:not(.icon) {
  max-width: 35%;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 8px gray;
}

article p {
  margin: 0.85rem 0;
}

section.coords {
  margin: 2rem -2rem;
}

section.coords button {
  margin: 1rem auto;
}

section.coords iframe {
  min-height: 325px;
  filter: grayscale(1);
  transition: filter 275ms ease-in-out;
}

section.coords:hover iframe {
  filter: grayscale(0);
}

footer {
  padding: 1dvh 5dvw;
  text-align: end;
  font-size: 0.85rem;
  box-shadow: 0 -1dvh 1dvh var(--top-bar);
  background-color: var(--top-bar);
}

footer .footer-links ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

footer .footer-links ul li {
  text-align: center;
  flex-basis: 40dvw;
}

footer .footer-links ul a {
  padding: 0.1rem 0.2rem;
  margin: 0.5rem 2rem;
}
